<header class="site-header">
  <div class="wrapper">
    <div class="nav-left">
      <a href="https://www.upenn.edu" target="_blank" class="nav-penn-link">
        <img src="/images/icon/penn_name.png" alt="University of Pennsylvania" class="nav-penn-logo">
      </a>
      <div class="nav-social-icons">
        <a class="tab-link" href="/#section-about">Home</a>
        <a class="tab-link" href="/#section-experience">Profile</a>
        <a class="tab-link" href="/#section-research">Publication</a>
        <a class="tab-link{% if page.url contains '/blog' %} active{% endif %}" href="/#section-blog">Blog</a>
      </div>
    </div>
  </div>
</header>
